---
import FormattedDate from "../commons/FormattedDate.astro";
import Tag from "../commons/Tag.astro";
interface Props {
  publicationDate: Date;
  updatedDate?: Date;
  category?: string;
  tags?: string[];
}

const { publicationDate, updatedDate, category, tags } = Astro.props;
---

<div class="text-gray-300 text-sm">
  <div>
    Publié le <span class="font-bold"
      ><FormattedDate date={publicationDate} /></span
    > dans la catégorie <span class="font-bold">{category}</span>
  </div>
  {
    updatedDate && (
      <div>
        Dernière mise à jour le <FormattedDate date={updatedDate} />
      </div>
    )
  }

  {
    tags && (
      <div>
        Tags : &nbsp;
        {tags.map((tag) => (
          <Tag tag={tag} href={`${import.meta.env.BASE_URL}tags/${tag}/`} />
        ))}
      </div>
    )
  }
  <slot />
</div>
