---
import { getCollection } from "astro:content";
import Preview from "./book/Preview.astro";

interface ListBooksProps {
  slice?: number;
}

const { slice } = Astro.props as ListBooksProps;

const allBooks = (await getCollection("books")).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);

const books = slice ? allBooks.slice(0, slice) : allBooks;
---

<section class="grid md:grid-cols-3 sm:grid-cols-1 gap-4">
  {
    books.map((book) => (
      <Preview
        cover={book.data.cover}
        title={book.data.title}
        author={book.data.author}
        pubDate={book.data.pubDate}
        isbn={book.data.isbn}
        slug={book.slug}
      />
    ))
  }
</section>
