---
import SubTitle from "../commons/SubTitle.astro";
import Tag from "../commons/Tag.astro";

const { book } = Astro.props;
---

<div class="flex flex-col items-center">
  <a
    href={import.meta.env.BASE_URL + `books/${book.slug}/`}
    class="text-center"
  >
    <div class="relative">
      <img
        src={import.meta.env.BASE_URL + book.data.cover}
        alt={`Couverture du livre ${book.data.title}`}
        class={"mx-auto h-auto max-w-full rounded-lg" + (!book.data.isbn ? " opacity-15" : "")}
      />
      {!book.data.isbn && (
        <div class="absolute top-0 left-0 right-0 bottom-0 flex items-center justify-center bg-opacity-50">
          <span class="text-white text-xl">Pas encore disponible</span>
        </div>
      )}
    </div>
    <div class="mt-5">
      <SubTitle title={book.data.title} />
      <span class="text-gray-300 text-sm">{book.data.author}</span>
      <p class="text-gray-300 text-xs">
        {
          !book.data.isbn
            ? <b class="text-orange-500">Sortie prévue en {book.data.pubDate}</b>
            : <b>Publié en {book.data.pubDate}</b>
        }
      </p>
    </div>
  </a>
</div>