---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import { SocialShare } from "astro-social-share";
import {
  LinkedInShareButton,
  MediumShareButton,
  RedditShareButton,
} from "astro-social-share";

import Default from "../layouts/Default.astro";
import TableOfContents from "../components/articles/TableOfContents.astro";
import Header from "../components/articles/Header.astro";
import Footer from "../components/articles/Footer.astro";
import Breadcrumb from "../components/commons/Breadcrumb.astro";
import Cover from "../components/articles/article/Cover.astro";

type Props = CollectionEntry<"articles">["data"] & {
  headings: MarkdownHeading[];
};

const shareButtons = [
  LinkedInShareButton,
  MediumShareButton,
  RedditShareButton,
];
const {
  title,
  pubDate,
  updatedDate,
  cover,
  headings,
  category,
  tags,
  description,
} = Astro.props;
---

<Default>
  <Breadcrumb />

  <main>
    <article>
      <div class="flex flex-col md:flex-row mt-5">
        <div class="w-full md:w-3/4 pr-5">
          <Cover cover={cover} title={title} description={description} />

          <Header
            updatedDate={updatedDate}
            publicationDate={pubDate}
            category={category}
            tags={tags}
          />

          <slot />

          <section
            class="px-4 py-4 antialiased bg-gray-100 dark:bg-gray-800 rounded-lg flex flex-row gap-4 mt-5"
          >
            <span class="text-xl font-bold"
              >Cet article vous a plu ? Alors, pourquoi ne pas le partager ?</span
            >
            <span class="text-sm"
              >Faites voyager ces idées jusqu’au bout du Web en un clic.
              Partagez cet article avec vos collègues, amis, ou même votre chat
              (il est sûrement curieux aussi) !</span
            >
            <SocialShare
              description={description}
              title={title}
              buttons={shareButtons}
            />
          </section>

          <Footer />
        </div>

        <div class="w-full md:w-1/4 bg-gray-100 dark:bg-gray-800 rounded-lg">
          <div class="md:sticky top-5 hidden md:block">
            <TableOfContents headings={headings} />
          </div>
        </div>
      </div>
    </article>
  </main>
</Default>

<style is:global>
  .astro-social-share svg {
    fill: theme("colors.orange.500");
  }
</style>
