---
import type { CollectionEntry } from "astro:content";
import type { MarkdownHeading } from "astro";
import Default from "../layouts/Default.astro";
import TableOfContents from "../components/articles/TableOfContents.astro";
import Header from "../components/articles/Header.astro";
import Footer from "../components/articles/Footer.astro";
import Breadcrumb from "../components/commons/Breadcrumb.astro";
import Cover from "../components/articles/article/Cover.astro";
import SocialShare from "../components/articles/article/SocialShare.astro";

type Props = CollectionEntry<"articles">["data"] & {
  headings: MarkdownHeading[];
};

const {
  title,
  pubDate,
  updatedDate,
  cover,
  headings,
  category,
  tags,
  description,
} = Astro.props;
---

<Default>
  <Breadcrumb />

  <main>
    <article>
      <div class="flex flex-col md:flex-row mt-5">
        <div class="w-full md:w-3/4 pr-5">
          <Cover cover={cover} title={title} description={description} />

          <Header
            updatedDate={updatedDate}
            publicationDate={pubDate}
            category={category}
            tags={tags}
          />

          <slot />

          <SocialShare description={description} title={title}/> 
          <Footer />
        </div>

        <div class="w-full md:w-1/4 bg-gray-100 dark:bg-gray-800 rounded-lg">
          <div class="md:sticky top-5 hidden md:block">
            <TableOfContents headings={headings} />
          </div>
        </div>
      </div>
    </article>
  </main>
</Default>

<style is:global>
  .astro-social-share svg {
    fill: theme("colors.orange.500");
  }
</style>
